<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Game Details</title>
</head>
<body>
<main class="d-flex justify-content-center">
    <div class="card shadow-sm m-3 col-4">
        <div class="card-header text-white bg-primary text-center py-4">
            <h4 class="mb-0">Login</h4>
        </div>
        <div class="card-body">
            <form th:action="@{/user/login}" method="post">
                <div class="mb-3">
                    <input class="form-control" type="text" id="name" name="username" placeholder="Username" required>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <div class="d-grid gap-2">
                    <input class="btn btn-primary btn-lg" type="submit" value="Login">
                    <a th:href="@{/home}" class="btn btn-warning btn-lg">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>