<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Game Details</title>
</head>
<body>
<main>
    <form class="text-center row d-flex justify-content-center" th:action="@{/user/logout}" method="post">
        <div class="border rounded-3 shadow-lg bg-success m-3 p-4 col-3">
            <h2 class="text-light" th:text="|Are you sure you want to logout?|"></h2>
            <input class="btn btn-primary" type="submit" value="logout"/>
            <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-danger">Maybe?</a> -->
            <a href="/home" class="btn btn-warning">cancel</a>
        </div>
    </form>
</main>
</body>
</html>