<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Game Details</title>
</head>
<body>
<h1 th:replace="~{fragments/header :: navigation}">Navigation</h1>
    <main class="container" th:object="${game}">

        <h1 th:text="*{title}" class="mt-4 text-warning"/>

        <div>
            <p th:text="*{description}" class="text-light"/>
            <p class="text-light">
               Official Site:
                <a th:href="*{officialLink}" th:text="*{officialLink}" target="_blank"
                   class="text-decoration-none text-danger"></a>
            </p>
        </div>

        <div>
            <h2 th:text="|Character List:|" class="mt-2 text-warning"/>
            <div class="row">
                <div th:each="gameCharacter: ${gameCharacters}" class="col-3">
                    <div class="text-center m-2 border">
                        <p th:text="${gameCharacter.name}"/>
                    </div>
                </div>
            </div>
        </div>
    </main>
<p th:replace="~{fragments/footer :: footer}"/>
</body>
</html>