<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>GI Details</title>
</head>
<body>
    <h1 th:replace="~{fragments/header :: navigation}">Navigation</h1>

    <main class="container" th:object="${product}">
        <div class="row">
            <div class="d-flex justify-content-end m-2">
                <a class="btn btn-info" th:href="@{|/admin/giedit/*{id}|}" th:text="|Edit|"></a>
            </div>
            <div class="text-center">
                <img th:src="*{image}">
            </div>
            <div>
                <h3 th:text="*{name}">title</h3>
            </div>
            <div>
                <p th:text="*{description}">description</p>
            </div>
        </div>

        <div class="row">
            <div th:each="gameCharacter : ${gameCharacters}" th:object="${gameCharacter}" class="col-4 mb-2">
                <a class="text-decoration-none" th:href="@{|/gameCharacter/*{id}|}">
                    <div class="card">
                        <div class="card-body text-center text-light">
                            <h4 th:text="*{name}"/>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </main>
    <p th:replace="~{fragments/footer :: footer}"/>
</body>
</html>