<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>HSR Details</title>
</head>
<body>
    <h1 th:replace="~{fragments/header :: navigation}">Navigation</h1>

    <main class="container" th:object="${product}">

        <div class="row m-2">
            <div class="col col-6 text-start">
                <a th:href="@{|/hsrDetails/*{id - 1}|}">
                    <button class="btn btn-info" th:text="|<|">Previous</button>
                </a>
            </div>

            <div class="col col-6 text-end">
                <a th:href="@{|/hsrDetails/*{id + 1}|}">
                    <button class="btn btn-info" th:text="|>|">Next</button>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="d-flex justify-content-end m-2" sec:authorize="hasAuthority('ADMIN')">
                <a class="btn btn-info" th:href="@{|/admin/hsredit/*{id}|}" th:text="|Edit|"></a>
            </div>
            <div class="text-center">
                <img class="img-fluid" th:src="*{image}">
            </div>
            <div>
                <h3 th:text="*{name}">title</h3>
            </div>
            <div>
                <p th:text="*{description}">description</p>
            </div>
            <div>
                <p th:text="|*{price} euro|"/>
            </div>
            <div th:if="*{startDate != null and endDate != null}">
                <h3 th:text="|Limited Offer!|"/>
                <div>
                    <p th:text="|From: *{#temporals.format(startDate, 'dd/MM/yyyy (HH:mm:ss)')}|"></p>
                    <p th:text="|To: *{#temporals.format(endDate, 'dd/MM/yyyy (HH:mm:ss)')}|"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div th:each="gameCharacter : ${gameCharacters}" th:object="${gameCharacter}" class="col-4 mb-2">
                <a class="text-decoration-none" th:href="@{|/gameCharacter/*{id}|}">
                    <div class="card">
                        <div class="card-body text-center text-light">
                            <h4 th:text="*{name}"/>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </main>
    <p th:replace="~{fragments/footer :: footer}"/>
</body>
</html>